<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/incidents"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="true" shape="round">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form (ngSubmit)="onSubmit()">

    <!-- Seleccionar Operadores -->
    <ion-item>
      <ion-label>Operadores <span style="color: red">*</span></ion-label>
      <ion-select id="usuario_asignado" name="usuario_asignado" multiple="true" [(ngModel)]="tarea_urgente.usuario_asignado" placeholder="Seleccione">
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
          {{ usuario.nombre_completo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Tarea a Asignar -->
    <ion-item>
      <ion-label position="floating">Tarea a Asignar <span style="color: red">*</span></ion-label>
      <ion-textarea id="tarea_a_asignar" class="large-textarea" name="tarea_a_asignar" [(ngModel)]="tarea_urgente.tarea_a_asignar" placeholder="Escribe aquí" required></ion-textarea>
    </ion-item>

    <!-- Fecha -->
    <ion-item>
      <ion-label position="fixed">Fecha <span style="color: red">*</span></ion-label>
      <ion-input id="fecha" class="small-input" type="date" name="fecha" [(ngModel)]="tarea_urgente.fecha" required></ion-input>
    </ion-item>

    <!-- Hora -->
    <ion-item>
      <ion-label position="fixed">Hora <span style="color: red">*</span></ion-label>
      <ion-input id="hora" class="small-input" type="time" name="hora" [(ngModel)]="tarea_urgente.hora" required></ion-input>
    </ion-item>

    <!-- Botón Confirmar -->
    <div class="button-container">
      <ion-button class="confirm-button" type="submit" expand="block" shape="round">
        Confirmar
      </ion-button>
    </div>
  </form>
</ion-content>
