<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="adminLogin">
    <form id="formLogin" aria-labelledby="form-login-label">

      <div class="title-container">
        <h2>Change the password / Cambiar contraseña</h2>
      </div>
  
      <ion-item id="item-password" class="input-item">
        <ion-icon name="lock-closed-outline" aria-hidden="true"></ion-icon>
        <ion-input 
          id="change-password" 
          type="password" 
          [disabled]="false" 
          placeholder="Password">
        </ion-input>

        <ion-icon 
          class="eye-icon" 
          name="eye-off" 
          id="toggleChangePassword" 
          slot="end"
          (click)="toggleChangePasswordVisibility()">
        </ion-icon>
      </ion-item>

      <ion-item id="item-repeat-password" class="input-item">
        <ion-icon name="lock-closed-outline" aria-hidden="true"></ion-icon>
        <ion-input 
          id="repeat-password" 
          type="password" 
          [disabled]="false" 
          placeholder="Repeat Password">
        </ion-input>

        <ion-icon 
          class="eye-icon" 
          name="eye-off" 
          id="toggleRepeatPassword" 
          slot="end"
          (click)="toggleChangeRepeatPasswordVisibility()">
        </ion-icon>
      </ion-item>
  
      <div class="button-container">
        <ion-button 
          expand="block" 
          shape="round" 
          (click)="onSubmit()">
          Change Password
        </ion-button>
      </div>
  
    </form>
  </div>
</ion-content>
