ion-toolbar {
    --padding-top: 20px;
    --padding-bottom: 5px;
  
    display: flex;
    justify-content: center;
}

ion-back-button {
    color: #243270;
}

ion-title {
    text-align: center;
    width: 100%;
}

.logo {
    max-height: 50px;
    width: auto;
}

form {
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 20px;
}

ion-item {
    --background: #eee;
    --inner-padding-start: 8px;
    margin-bottom: 24px;
    border-radius: 8px;
    --min-height: 75px;

    ion-label {
        font-weight: bold;
        margin-bottom: 12px;
    }
}

ion-input {
    font-size: 16px;
    color: #222;
    --padding-start: 8px;
}

.material-button {
    width: 40%;
    height: 40px;
    --background: #243270;
    --color: #fff;
}

.button-container {
    display: flex;

    .task-button {
        width: 300px;
        height: 50px;
        --background: rgb(0, 175, 0);
        --color: #000;
        margin-bottom: 30px;
        margin: 20px auto;
    }

    .pause-button {
        width: 300px;
        height: 50px;
        --background: rgb(235, 235, 0);
        --color: #000;
        margin-bottom: 30px;
        margin: 20px auto;
    }

    .reanudar-button {
        width: 300px;
        height: 50px;
        --background: rgb(170, 170, 170);
        --color: #000;
        margin-bottom: 30px;
        margin: 20px auto;
    }
}

ion-modal::part(content) {
    max-width: 650px;
    margin: auto;
}

ion-modal {
    --height: 90%;
    --border-radius: 20px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

ion-toolbar {
    --background: #f4f4f4;
    --color: #243270;
    border-bottom: 1px solid #ccc;
}

.modal-title {
    margin-left: 10%;
    font-weight: bold;
}

ion-searchbar {
    margin: 10px auto;
    --background: #fff;
    --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.modal-list {
    padding: 0;
}

.modal-item {
    --min-height: 48px;
    --padding-top: 2px;
    --padding-bottom: 2px;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin: 10px;
}

.modal-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.confirm-selection-button {
    width: 300px;
    height: 50px;
    --background: #243270;
    --color: #fff;
    margin: 20px auto;
}
