<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="adminLogin">
    <form id="formLogin" aria-labelledby="form-login-label">

      <div class="title-container">
        <h2>Welcome to Atarfil / Bienvenido a Atarfil</h2>
      </div>

      <ion-item id="item-email" class="input-item">
        <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        <ion-input 
          id="emailLogin" 
          type="text" 
          [disabled]="false" 
          placeholder="Email">
        </ion-input>
      </ion-item>
  
      <ion-item id="item-password" class="input-item">
        <ion-icon name="lock-closed-outline" aria-hidden="true"></ion-icon>
        <ion-input 
          id="password" 
          type="password" 
          [disabled]="false" 
          placeholder="Password">
        </ion-input>

        <ion-icon 
          class="eye-icon" 
          name="eye-off" 
          id="togglePassword" 
          slot="end"
          (click)="toggleLoginPasswordVisibility()">
        </ion-icon>
      </ion-item>
  
      <div class="button-container">
        <ion-button 
          expand="block" 
          shape="round" 
          (click)="onSubmit()">
          Login
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
