ion-toolbar {
  --padding-top: 20px;
  --padding-bottom: 5px;

  display: flex;
  justify-content: center;
}

ion-title {
  text-align: center;
}

.logo {
  max-height: 50px;
  width: auto;
}

.title-container {
  text-align: center;
  padding-bottom: 20px;

  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #243270;
  }
}

.adminLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

ion-item {
  --background: #f0f0f5;
  margin: 24px;
  border-radius: 24px;

  /* Para pantallas medianas (tabletas en modo vertical) */
  @media (min-width: 601px) {
    width: 500px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-button {
  --background: #243270;
  --color: #fff;
  width: 80%;
  height: 50px;
  font-size: 1.1em;
}

ion-item:hover{
  border: 1px solid #243270;
}

ion-input{
  margin-left: 10px;
}

.eye-icon{
  cursor: pointer;
}